cbstest/src/main/resources/schemas/CbsRequestXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PayTxn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Debit">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AccNumber"/>
              <xs:element type="xs:string" name="Mobile"/>
              <xs:element type="xs:string" name="Amount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Credit">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AccNumber"/>
              <xs:element type="xs:string" name="Mobile"/>
              <xs:element type="xs:string" name="Amount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="username"/>
        <xs:element type="xs:string" name="password"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>