cbstest/src/main/resources/schemas/PayResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element type="xs:string" name="errorCode"/>
        <xs:element type="xs:string" name="errorMsg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>